* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   width: 100%;
   height: auto;
}

:root {
   --index: calc(1vw + 1vh);
   --transition: .5s cubic-bezier(0.295, 0.990, 0.385, 0.980);
   --gap: calc(var(--index) * 2);
   --scale: 1.1;
}

body, html {
   height: 100%;
   overflow: hidden;
   background-image: url(./img/bg.jpg);
   background-size: cover;
   background-position: center;
}

.wrap-sliders {
   height: 100%;
   display: flex;
   column-gap: var(--gap);
   justify-content: center;
}

.slider {
   margin-inline: 0;
   transform: rotate(12deg);
   overflow: visible;
}

.slider:nth-child(odd) {
   transform: rotate(192deg);
}

.slider:nth-child(odd) .slider__item {
   transform: rotate(-180deg);
}

.slider:nth-child(odd) .slider__item:hover {
   transform: rotate(-180deg) scale(var(--scale));
}

.swiper-wrapper {
   row-gap: var(--gap);
   transition: transform var(--transition) !important;
   will-change: transform;
}

.slider__item {
   width: 20vw;
   overflow: hidden;
   border-radius: 8px;
   box-shadow: 0 0 30px 10px rgba(0, 0, 0, .1);
   background-size: 100% auto;
   transition: transform var(--transition);
}

.slider__item:hover {
   transform: scale(var(--scale));
}